<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>MemeRecommender</servlet-name>
        <servlet-class>com.memes.memegen.MemeRecommender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemeListServlet</servlet-name>
        <servlet-class>com.memes.memegen.MemeListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editMeme</servlet-name>
        <servlet-class>com.memes.memegen.editMeme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateMeme</servlet-name>
        <servlet-class>com.memes.memegen.updateMeme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMeme</servlet-name>
        <servlet-class>com.memes.memegen.deleteMeme</servlet-class>
    </servlet>
    <servlet-mapping>
        <!-- Route -->
        <servlet-name>MemeRecommender</servlet-name>
        <url-pattern>/MemeRecommender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemeListServlet</servlet-name>
        <url-pattern>/MemeList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editMeme</servlet-name>
        <url-pattern>/editMeme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateMeme</servlet-name>
        <url-pattern>/updateMeme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMeme</servlet-name>
        <url-pattern>/deleteMeme</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
